:root {
  --background-primary-color: #0A0A0A;

  --border-primary-color: #484848;
  --border-primary-color-hover: #ffffff;

  --text-secondary-color: #C7C7C7;
  --text-secondary-color-hover: #ffffff;
}

[data-theme="light"] {

}