@use 'app/styles/fonts' as *;

.button {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 27px;
  @include textPrimary(16px, 700, 100%);
  text-transform: uppercase;
  min-height: 50px;
  min-width: 54px;
  transition: 0.3s;
  &.dark {
    background-color: var(--button-secondary-color);
    color: var(--button-text-secondary-color);
    padding: 14px;
    &:hover {
      background-color: var(--button-primary-color);
      color: var(--button-text-primary-color);
    }
  }
  &.light {
    background-color: var(--button-primary-color);
    color: var(--button-text-primary-color);
    padding: 6px 22px 6px 25px;
    &:hover {
      background-color: var(--button-secondary-color);
      color: var(--button-text-secondary-color);
    }
  }
}